<!DOCTYPE html>
<html lang="en">
  <title></title>
  <link rel="stylesheet" href="../static/css/buttons.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <body>
  <form method="post" action="/airsys/template/icon">
      <input type="text" name="q">
  <button class="button button-primary button-circle"><i class="fa fa-plus"></i></button>
  <button class="button button-primary button-circle"><span data-feather="wind"></span>L</button>
  </form>
  </body>
<script src="../static/js/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
</html>